# LivingEntity
public net.minecraft.entity.LivingEntity func_70688_c(Lnet/minecraft/potion/EffectInstance;)V #onFinishedPotionEffect

# ServerPlayerEntity
public net.minecraft.entity.player.ServerPlayerEntity func_70688_c(Lnet/minecraft/potion/EffectInstance;)V #onFinishedPotionEffect

# ContainerScreen
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195360_a(DD)Lnet/minecraft/inventory/container/Slot; #getSelectedSlot
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_146977_a(Lnet/minecraft/inventory/container/Slot;)V #drawSlot
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z #isSlotSelected

# FontRenderer
public net.minecraft.client.gui.FontRenderer func_180455_b(Ljava/lang/String;FFIZ)I # renderString